{
  "root": true,
  "extends": [
    "airbnb",
    "prettier",
    "react-app"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./frontend/src",
          "./src"
        ]
      }
    }
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "prettier"
  ],
  "rules": {
    "react/sort-comp": "warn",
    "react/prop-types": "off",
    "react/static-property-placement": "off",
    "react/state-in-constructor": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-fragments": "off",
    "react/destructuring-assignment": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "import/prefer-default-export": "off",
    "no-nested-ternary": "off",
    "no-confusing-arrow": "off",
    "react/require-default-props": "off",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "no-shadow": "off",
    "import/no-unresolved": "off",
    "import/no-named-as-default": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-unused-expressions": "off",
    "react/prefer-stateless-function": "warn",
    "react/no-children-prop": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-alert": "off",
    "class-methods-use-this": "off",
    "dot-notation": [
      "error",
      {
        "allowPattern": "^[_A-Z]+$"
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "parser": "flow"
      }
    ],
    "react/jsx-first-prop-new-line": [
      "error",
      "multiline"
    ]
  },
  "globals": {
    "window": false,
    "document": false,
    "navigator": false,
    "URL": false,
    "fetch": false,
    "alert": false,
    "faker": false,
    "shallow": false,
    "mount": false,
    "render": false,
    "shallowGQL": false,
    "mountGQL": false,
    "renderGQL": false,
    "sinon": false,
    "factory": false,
    "dummyAction": false,
    "dummyFunc": false,
    "historyFactory": false
  },
  "env": {
    "jest": true
  }
}