@import './mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $mainWhite;
}

h1 {
  @include text($raleway, 2.5rem, 3rem, 700);
}

h2 {
  @include text($raleway, 1.5rem, 1.25rem, 700);
}

p {
  @include text($height: 1.375rem);
}

a {
  @include text($height: 1.25rem);
  text-decoration: none;
}

label {
  @include text($height: 1.25rem);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
